
* {
    text-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 4px;
    text-align: left;
}

p,
a,
button {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}



.tasklist-accepted {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #a558e3;
    color: white;
    border-radius: 10px;
}
.tasklist-accepted .head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.tasklist-accepted .head-card h5{
    background-color: #3b234e;
    border: none;
    font-size: x-small;
    letter-spacing: 0px;
    padding: 4px 7px;
    border-radius: 5px;
}
.tasklist-accepted .head-card p{
    font-size: 10px;
    font-weight: 600;
}
.tasklist-accepted .body-card h5{
    margin-top: 30px;
    font-size: large;
    letter-spacing: normal;
    padding: 10px;
}
.tasklist-accepted p{
    padding: 0px 10px;
    font-size: small;
}
.tasklist-accepted .mark{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;
}
.tasklist-accepted .mark button{
    padding:5px 20px;
    border: none;
    
    width: 90%;
    border-radius: 7px;
    color: white;
}
.tasklist-accepted .mark .markcomplete{
    background-color: #8c00ff;
}
.tasklist-accepted .mark .markfail{
    background-color: #462a5d;
}
.tasklist-accepted .mark .markcomplete:hover{
    background-color: #3e0070;
    cursor: pointer;
}
.tasklist-accepted .mark .markfail:hover{
    background-color: #2c1a3b;
    cursor: pointer;
}