
* {
    text-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 4px;
    text-align: left;
}

p,
a,
button {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}



.tasklist-failed {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.tasklist-failed .head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.tasklist-failed .head-card h5{
    background-color: rgb(119, 0, 0);
    border: none;
    font-size: x-small;
    letter-spacing: 0px;
    padding: 4px 7px;
    border-radius: 5px;
}
.tasklist-failed .head-card p{
    font-size: 10px;
    font-weight: 600;
}
.tasklist-failed .body-card h5{
    margin-top: 30px;
    font-size: large;
    letter-spacing: normal;
    padding: 10px;
}
.tasklist-failed p{
    padding: 0px 10px;
    font-size: small;
}
.tasklist-failed .mark{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;
}
.tasklist-failed .mark .completedfailedtask{
    padding:5px 20px;
    border: none;
    width: 90%;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgb(99, 0, 0);
}
.tasklist-failed .mark .completedfailedtask:hover{
    background-color: rgb(96, 43, 43);
    cursor: pointer;
}