* {
    margin: 0;
    padding: 0;
}
* {
    text-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 4px;
    text-align: left;
}

p,
a,
button {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-header {
    position: relative;
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.container-header .head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
}

.container-header .head .Harsh {
    font-size: 2.5rem;
}

.container-header .head h2 {
    font-size: 1rem;
}

.container-header .head button {
    margin-top: 30px;
    background-color: blueviolet;
    border: none;
    color: white;
    font-weight: 5 00;
    letter-spacing: 3px;
    padding: 10px 13px;
    border-radius: 20px;
    transition: 0.1s;
}

.container-header .head button:hover {
    background-color: rgb(64, 0, 125);
    cursor: pointer;
}